---
import { FIBER_BASE_URL } from "../constants/servers.ts";

interface Props {
  value: string;
}

const { value } = Astro.props;

let data;
let isError = false;

const fetchData = async () => {
  try {
    const res = await fetch(FIBER_BASE_URL);

    data = await res.text();
  } catch {
    isError = true;
  }
};

await fetchData();
---

<div class="flex items-center gap-4 rounded-xl border-2 border-rose-500 p-4">
  <iconify-icon
    class="text-6xl font-bold text-rose-500"
    icon="simple-icons:astro"></iconify-icon>
  <div>
    <h1 class="text-2xl font-bold text-rose-500">Hello, Astro!</h1>
    <p><span class="font-bold">Hono value:</span> {value}</p>
    <p>
      <span class="font-bold">Fiber value:</span>
      {isError ? "Error" : !data ? "Loading..." : data}
    </p>
  </div>
</div>
